<app-navbar></app-navbar>
<div class="jumbotron carruselimg" style="background-image: url(../../../assets/img/admision.jpg); background-size: 100%;">
</div>


<div class="container ">
  <div class="row">
    <div class="col-6">
      <h2 class="bienvenida"> {{Tipo}} </h2>
      <hr style="color: #0056b2;" size="1" width="75%" align="left"/>
      <h1>CICLO ESCOLAR 2020-2021 </h1>
      <h3>Inscripciones abiertas todo el año!!!</h3>
      <ul style="list-style-image:url(../../../assets/img/icon1.png);">
        <li type="square">Horario: 07:30-18:00</li>
        <li type="square">Lunes a viernes</li>
        <li type="square">Telefono: 951 211 6621</li>
      </ul>
      <h3>Oferta educativa</h3>
      <p>Nuestro programa académico promueve la adquisición gradual de diversas habilidades de desarrollo empresarial a las niñas y niños del Instituto Pedadi.</p>
      <p>Adquieren habilidades como:</p>
      <ul  style="list-style-image:url(../../../assets/img/icon1.png);">
        <li type="square">Desarrollo emprendedor </li>
        <li type="square">Creatividad</li>
        <li type="square">Mercadotecnia y publicidad</li>
        <li type="square">Ética y valores</li>
        <li type="square">Computación</li>
        <li type="square">Ecología y cuidado del medioambiente</li>
      </ul>
      <h3>Clases complementarias</h3>
      <ul style="list-style-image:url(../../../assets/img/icon1.png);" >
        <li type="square">Ingles</li>
        <li type="square">Computación</li>
      </ul>
      <h3>Documentación</h3>
      <ul style="list-style-image:url(../../../assets/img/icon1.png);">
        <li type="square">Acta de nacimiento </li>
        <li type="square">Comprobante de domicilio</li>
        <li type="square">Curp</li>
        <li type="square">Cartilla de vacunacion</li>
        <li type="square">Certificado médico</li>
        <li type="square">2 fotografías tamaño infantil</li>


      </ul>
    </div>
    <div class="col-6">

      <img src="../../../assets/img/maternal1.png" class="img-fluid" alt="">
      <br>
      <br>
      <img src="../../../assets/img/preescolar.png" class="img-fluid" alt="">
      <br>
      <br>
      <br>
      <br>
      <img src="../../../assets/img/utvco.jpg" class="img-fluid" alt="">

    </div>
  </div>
</div>
<app-footer></app-footer>
