<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner">
          <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/portadaM.jpg?alt=media&token=36c84717-adae-48e5-ac23-8ce8d87c2505" class="d-block w-100 responsiveImage" alt="Instituto PEDADI">
          </div>
      </div>
  </div>

<div class="container ">
  <div class="row">
    <div class="col-6">
      <h2 class="bienvenida"> {{Tipo}} </h2>
      <hr style="color: #0056b2;" size="1" width="75%" align="left"/>
      <h1>CICLO ESCOLAR 2020-2021 </h1>
      <h3>Inscripciones abiertas</h3>
      <ul style="list-style-image:url(https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/vi%C3%B1etasA.png?alt=media&token=ffe5faa6-eaa4-4773-a7dc-83673ffe85ce);">
        <li type="square">Horario: 07:30-16:00</li>
        <li type="square">Lunes a viernes</li>
        <li type="square">Teléfono: 951 211 6621</li>
      </ul>
      <h3>Oferta educativa</h3>
      <p>El Instituto Pedadi es un centro educativo de nivel básico ubicado en el estado de Oaxaca que ofrece los programas de educación  maternal, preescolar y primaria. Dentro de su oferta educativa cuenta con un programa de desarrollo empresarial para niños y niñas, el cual se cursa durante todo el ciclo escolar y tiene como finalidad desarrollar habilidades de emprendimiento, negocios, educación financiera, inteligencia emocional y consciencia ambiental, que de manera lúdica y sistemática coadyuven en la eliminación del ciclo de la pobreza, reduzcan las desigualdades, promuevan el trabajo decente y garanticen la equidad de género en las generaciones más jóvenes.</p>
    <h3> Módulos</h3>
      <ul  style="list-style-image:url(https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/vi%C3%B1etasA.png?alt=media&token=ffe5faa6-eaa4-4773-a7dc-83673ffe85ce);">
        <li type="square">Lenguaje y comunicación</li>
        <li type="square">Pensamiento matemático</li>
        <li type="square">Exploración y comprensión del mundo natural y social</li>
        <li type="square">Desarrollo artístico y creatividad</li>
        <li type="square">Desarrollo socioemocional</li>
        <li type="square">Desarrollo corporal y salud</li>
        <li type="square">BusinessKids</li>
        <li type="square">Inglés</li>
        <li type="square">Computación</li>

      </ul>
      <h3>Talleres extracurriculares</h3>
      <ul style="list-style-image:url(https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/vi%C3%B1etasA.png?alt=media&token=ffe5faa6-eaa4-4773-a7dc-83673ffe85ce);" >
        <li type="square">Futbol</li>
        <li type="square">Natación</li>
        <li type="square">Yoga</li>
        <li type="square">Taekwondo</li>
      </ul>

    </div>
    <div class="col-5 offset-md-1">

      <br>
      <br>
      <br>
      <br>
      <img *ngIf="Tipo == 'MATERNAL'" src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/maternal1AD.jpg?alt=media&token=323ab654-f9c7-4a62-9c9e-54730074499a" class="img-fluid" alt="">
      <img *ngIf="Tipo == 'PREESCOLAR'" src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/preescolar1AD.png?alt=media&token=cbf4cd22-a79c-4a8b-b5f5-16f5346a911e" class="img-fluid" alt="">
      <img *ngIf="Tipo == 'PRIMARIA'" src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/primaria1AD.jpg?alt=media&token=3106cbcb-342b-4062-be7d-d0a409a9bc8e" class="img-fluid" alt="">
      <br>
      <br>
      <img *ngIf="Tipo == 'MATERNAL'" src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/maternal2AD.jpg?alt=media&token=93152b1e-ebf2-4484-a01e-ae4a8052883b" class="img-fluid" alt="">
      <img *ngIf="Tipo == 'PREESCOLAR'" src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/preecolar2AD.jpg?alt=media&token=2237eb92-e8c4-41a6-a272-6d6c0ecba4b8" class="img-fluid" alt="">
      <img *ngIf="Tipo == 'PRIMARIA'" src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/primaria1G.jpg?alt=media&token=4d224f02-7644-4ea6-a60c-a5a26a91e0a5" class="img-fluid" alt="">
      <br>
      <br>

    </div>
  </div>
</div>
<app-footer></app-footer>
