<app-navbar></app-navbar>

<div class="jumbotron" style="background-image: url(../../../assets/img/img5.jpg); background-size: 100%;">
</div>

  <div class="container text-center mt-5 ml-5 mr-5">
    <br>
    <h2>Nuestros Pilares</h2>
  </div>

    <div class="row">
      <div class="col">
          <img src="../../../assets/img/6.png" class="" />
      </div>
      <div class="col">
          <img src="../../../assets/img/7.png" class="" />
      </div>
      <div class="col">
          <img src="../../../assets/img/8.png" class="" />
      </div>

      <div class="col">
          <img src="../../../assets/img/9.png" class="" />
      </div>

    </div>
    <app-footer></app-footer>
