<app-navbar></app-navbar>

<div class="jumbotron" style="background-image: url(../../../assets/img/img5.jpg); background-size: 100%;">
</div>

<div class="container ">
  <div class="row">
    <div class="col-6">
      <h3 class=" mision">Modelo Educativo</h3>
      <hr style="color: #0056b2;" size="1" width="75%" align="left" />
      <div class="text-justify">
        <p>El SISTEMA-BWP está inspirado en la sabiduría ancestral de nuestros viejos abuelos Toltecas, quienes fueron un linaje de hombres y mujeres que llegaron a desarrollar un alto grado de conocimiento de la sabiduría ancestral del Anáhuac
          (América); misma que fue compilada en la “Toltecáyotl”, una obra que nos ayuda a desarrollar
          el SER EN PLENITUD y nos enseña el arte de “VIVIR EN EQUILIBRIO”.
        </p>
      </div>

      <img src="../../../assets/img/ga2.jpg" class="img-fluid" alt="Responsive image">

    </div>
    <div class="col-6">
      <img src="../../../assets/img/M2.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>

<br>
<div class="container">
  <h3 class=" mision1 text-center">COMPONENTES DE NUESTRO MODELO EDUCATIVO</h3>
  <hr style="color: #0056b2;" size="1" width="85%" align="center" />

  <div class="card-deck">
    <div class="card">
      <img src="../../../assets/img/3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-justify">A través de este componente, tus peques conciben una idea de negocio y la desarrollan hasta concretar un producto y ofrecerlo en ferias de emprendimiento.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-justify">Mediante alianzas estratégicas con instituciones, empresas, tecnología y medio ambiente, creamos un escosistema que favorece el desarrollo de tus hijos y los prepara para los retos de la nueva era.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-justify">Mamá y papá participan en conferencias, talleres y couchings que les generan conocimientos y experiencias para guiar con el ejemplo a sus peques y hacer del emprendimiento una forma de vida.</p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-justify">Con base a la Filosofía Tolteca los niños y niñas aprenden el concepto de vivir en equilibrio, concientizandolos de su alimentación, descanso y autoestima incorporando practicas de meditación y cuidado del
          entorno .</p>
      </div>
    </div>
  </div>
</div>




<app-footer></app-footer>
