
.card{
  width: 430px;
  height: 530px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: all 0.25s;
}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.card img{
  width: 250px;
}

h5.card-title{
  font-weight: 600;
}


.texto{
  width: 40%;
  display:inline-block;
  vertical-align: middle;
}

h1.title{
  color: white;
  font-size: 100px;
  font-weight: 700;

}
p.subtitle{
  color:white;
}
h3.mision{
  color: black;
  font-size: 20px;
  font-weight: 500;
}
h2.bienvenida{
  color:#ffff;
  font-size: 70px;
  font-style: normal;

  font-weight: 7000;
}
img.carruselimg{
  filter: blur(3px);

  /* opacity: 0.9; see the background through the hbox */
}
h2.bienvenida2{
  color:#ffff;
  font-size: 40px;
  font-style: italic;

  font-weight: 7000;
}
h2.niveles{
  color:#152F4F;
  font-size: 45px;
  font-weight: 700;
}
h2.modelo{
  color:#152F4F;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
}
.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.circulo{
  width: 300px;
  height: 300PX;
  border-radius: 100%;
}
hr {
  border: 3px solid #8AAC27;
   height: 2px;
  }
