<!--
     ██ ██    ██ ███    ███ ██████   ██████  ████████ ██████   ██████  ███    ██
     ██ ██    ██ ████  ████ ██   ██ ██    ██    ██    ██   ██ ██    ██ ████   ██
     ██ ██    ██ ██ ████ ██ ██████  ██    ██    ██    ██████  ██    ██ ██ ██  ██
██   ██ ██    ██ ██  ██  ██ ██   ██ ██    ██    ██    ██   ██ ██    ██ ██  ██ ██
 █████   ██████  ██      ██ ██████   ██████     ██    ██   ██  ██████  ██   ████
-->

<div class="jumbotron">
  <app-navbar></app-navbar>
  <div class="text-center">
    <h1 style="color:white" class="display-3">INSTITUTO PEDADI</h1>

    <p class="lead">Emprendedores para vivir en equilibrio</p>

  </div>
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Conócenos</a>
</div>

<!--
██████  ██ ███████ ███    ██ ██    ██ ███████ ███    ██ ██ ██████   █████
██   ██ ██ ██      ████   ██ ██    ██ ██      ████   ██ ██ ██   ██ ██   ██
██████  ██ █████   ██ ██  ██ ██    ██ █████   ██ ██  ██ ██ ██   ██ ███████
██   ██ ██ ██      ██  ██ ██  ██  ██  ██      ██  ██ ██ ██ ██   ██ ██   ██
██████  ██ ███████ ██   ████   ████   ███████ ██   ████ ██ ██████  ██   ██
-->

<div class="container text-center">
<h1>Bienvenido</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

<!--
███    ███ ██ ███████ ██  ██████  ███    ██
████  ████ ██ ██      ██ ██    ██ ████   ██
██ ████ ██ ██ ███████ ██ ██    ██ ██ ██  ██
██  ██  ██ ██      ██ ██ ██    ██ ██  ██ ██
██      ██ ██ ███████ ██  ██████  ██   ████
-->


<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/img/banner2.jpg" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-6">
      <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="row">
        <img src="../../../assets/img/banner2.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>

  </div>
</div>

<!--
███    ██ ██ ██    ██ ███████ ██      ███████ ███████     ███████ ██████  ██    ██  ██████  █████  ████████ ██ ██    ██  ██████  ███████
████   ██ ██ ██    ██ ██      ██      ██      ██          ██      ██   ██ ██    ██ ██      ██   ██    ██    ██ ██    ██ ██    ██ ██
██ ██  ██ ██ ██    ██ █████   ██      █████   ███████     █████   ██   ██ ██    ██ ██      ███████    ██    ██ ██    ██ ██    ██ ███████
██  ██ ██ ██  ██  ██  ██      ██      ██           ██     ██      ██   ██ ██    ██ ██      ██   ██    ██    ██  ██  ██  ██    ██      ██
██   ████ ██   ████   ███████ ███████ ███████ ███████     ███████ ██████   ██████   ██████ ██   ██    ██    ██   ████    ██████  ███████
-->



<div class="container text-center">
  <br>
  <h1>Nuestros niveles educativos</h1>
  <div class="row center">
    <div class="col">
        <img src="//placehold.it/300" class="rounded-circle" />
    </div>
    <div class="col">
        <img src="//placehold.it/300" class="rounded-circle" />
    </div>
    <div class="col">
        <img src="//placehold.it/300" class="rounded-circle" />
    </div>
  </div>
</div>


<!--
 █████  ███    ██ ██    ██ ███    ██  ██████ ██  ██████  ███████
██   ██ ████   ██ ██    ██ ████   ██ ██      ██ ██    ██ ██
███████ ██ ██  ██ ██    ██ ██ ██  ██ ██      ██ ██    ██ ███████
██   ██ ██  ██ ██ ██    ██ ██  ██ ██ ██      ██ ██    ██      ██
██   ██ ██   ████  ██████  ██   ████  ██████ ██  ██████  ███████
-->
<br>
<div class="jumbotron">
  <div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
