<app-navbar-auth></app-navbar-auth>

<!--
  ███████  ██████  ██████  ███    ███ ██    ██ ██       █████  ██████  ██  ██████      ██████  ███████     ██████  ███████  ██████  ██ ███████ ████████ ██████   ██████
  ██      ██    ██ ██   ██ ████  ████ ██    ██ ██      ██   ██ ██   ██ ██ ██    ██     ██   ██ ██          ██   ██ ██      ██       ██ ██         ██    ██   ██ ██    ██
  █████   ██    ██ ██████  ██ ████ ██ ██    ██ ██      ███████ ██████  ██ ██    ██     ██   ██ █████       ██████  █████   ██   ███ ██ ███████    ██    ██████  ██    ██
  ██      ██    ██ ██   ██ ██  ██  ██ ██    ██ ██      ██   ██ ██   ██ ██ ██    ██     ██   ██ ██          ██   ██ ██      ██    ██ ██      ██    ██    ██   ██ ██    ██
  ██       ██████  ██   ██ ██      ██  ██████  ███████ ██   ██ ██   ██ ██  ██████      ██████  ███████     ██   ██ ███████  ██████  ██ ███████    ██    ██   ██  ██████
  -->

<div class="container">
  <div class="text-center">
    <h5 class="mt-5"> Edicion de usuarios</h5>

  </div>

  <div class="">
    <span class="label label-default">Fltro: </span>
    <select class="form-control col-sm" name="Tipos">
      <option value="Todos">Todos</option>
      <option value="Tutor"> Tutor</option>
      <option value="Alumno">Alumno</option>
    </select>
  </div>

  <!--
    ████████  █████  ██████  ██       █████
       ██    ██   ██ ██   ██ ██      ██   ██
       ██    ███████ ██████  ██      ███████
       ██    ██   ██ ██   ██ ██      ██   ██
       ██    ██   ██ ██████  ███████ ██   ██
    -->

  <table class="table table-striped mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Tipo de usuario</th>

        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of dataUsers">
        <td> {{users.nombre}}</td>
        <td> {{users.apellidopt}} </td>
        <td> {{users.apellidomt}}</td>
        <td> {{users.tipo}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Edicion" (click)="buscarUsuario(users.id)">
            <i class="fas fa-edit   fa-lg"></i>
          </button>
        </td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Eliminar" (click)="buscarUsuarioeliminar(users.id)">
            <i class="fas fa-trash-alt   fa-lg"></i>
          </button></td>



      </tr>
    </tbody>
  </table>


  <!--
███    ███  ██████  ██████   █████  ██          ██████  ███████     ██       █████      ███████ ██████  ██  ██████ ██  ██████  ███    ██
████  ████ ██    ██ ██   ██ ██   ██ ██          ██   ██ ██          ██      ██   ██     ██      ██   ██ ██ ██      ██ ██    ██ ████   ██
██ ████ ██ ██    ██ ██   ██ ███████ ██          ██   ██ █████       ██      ███████     █████   ██   ██ ██ ██      ██ ██    ██ ██ ██  ██
██  ██  ██ ██    ██ ██   ██ ██   ██ ██          ██   ██ ██          ██      ██   ██     ██      ██   ██ ██ ██      ██ ██    ██ ██  ██ ██
██      ██  ██████  ██████  ██   ██ ███████     ██████  ███████     ███████ ██   ██     ███████ ██████  ██  ██████ ██  ██████  ██   ████
-->


  <div class="modal fade" id="Edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edición de usuario</h5>
          <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form [formGroup]=" this.FormUpdate" (ngSubmit)="actualizarUsuario()" class="form-horizontal">
            <div class="col-xs-8 col-xs-offset-4">
              <h2>Registro</h2>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Nombre</label>
              <div class="col-xs-8">
                <input formControlName="nombre" type="text" class="form-control" name="username" [value]=dataUser?.nombre required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Apellido Paterno</label>
              <div class="col-xs-8">
                <input formControlName="apellidopt" type="text" class="form-control" name="email" [value]=dataUser?.apellidopt required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Apellido Materno</label>
              <div class="col-xs-8">
                <input formControlName="apellidomt" type="text" class="form-control" name="password" [value]=dataUser?.apellidomt required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Edad</label>
              <div class="col-xs-8">
                <input formControlName="edad" type="number" class="form-control" name="password" [value]=dataUser?.edad required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Ocupación</label>
              <div class="col-xs-8">
                <input formControlName="ocupacion" type="text" class="form-control" name="password" [value]=dataUser?.ocupacion required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Edad de nacimiento</label>
              <div class="col-xs-8">
                <input formControlName="fechan" type="text" class="form-control" name="password" [value]=dataUser?.fechan required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Teléfono</label>
              <div class="col-xs-8">
                <input formControlName="telefono" type="tel" class="form-control" name="confirm_password" [value]=dataUser?.telefono required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Correo Electrónico</label>
              <div class="col-xs-8">
                <input formControlName="correo" type="email" class="form-control" name="confirm_password" [value]=dataUser?.correo required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Domicilio</label>
              <div class="col-xs-8">
                <input formControlName="domicilio" type="text" class="form-control" name="password" [value]=dataUser?.domicilio required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Contraseña</label>
              <div class="col-xs-8">
                <input formControlName="contrasenia" type="password" class="form-control" name="password" [value]=dataUser?.contrasenia required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-4">Tipo de Usuario</label>
              <div class="col-xs-8">
                <select formControlName="tipo" type="text" class="form-control" name="username" [value]=dataUser?.tipo required="required">
                  <option>Tutor</option>
                  <option>Administrador</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times fa-lg"></i> Cancelar</button>
              <button (clic)="actualizarUsuario()" class="btn btn-primary"><i class="fas fa-check fa-lg"></i> Guardar Cambios</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<!--
  ███    ███  ██████  ██████   █████  ██          ██████  ███████     ███████ ██      ██ ███    ███ ██ ███    ██  █████  ██████
  ████  ████ ██    ██ ██   ██ ██   ██ ██          ██   ██ ██          ██      ██      ██ ████  ████ ██ ████   ██ ██   ██ ██   ██
  ██ ████ ██ ██    ██ ██   ██ ███████ ██          ██   ██ █████       █████   ██      ██ ██ ████ ██ ██ ██ ██  ██ ███████ ██████
  ██  ██  ██ ██    ██ ██   ██ ██   ██ ██          ██   ██ ██          ██      ██      ██ ██  ██  ██ ██ ██  ██ ██ ██   ██ ██   ██
  ██      ██  ██████  ██████  ██   ██ ███████     ██████  ███████     ███████ ███████ ██ ██      ██ ██ ██   ████ ██   ██ ██   ██
  -->


<!-- Modal -->
<div class="modal fade" id="Eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Esta seguro de que desea eliminar al usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="borrarUsuario()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
