<app-navbar></app-navbar>

<div class="jumbotron" style="background-image: url(../../../assets/img/about1.jpg); background-size: 100%;">
</div>

<div class="container text-center mt-5">
  <h2 class="bienvenida">NUESTRA FILOSOFÍA</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class=" mision">Misión</h3>
      <hr style="color: #0056b2;" size="1" width="65%" align="left" />
      <div class="text-justify">

        <p>Formamos líderes empresariales desde sus primeros años de vida gracias al SISTEMA-BWP, un modelo educativo único e innovador, a través del cual nuestros niños desarrollan al máximo las competencias de la educación básica oficial de la SEP
          en
          preescolar y primaria; y reciben una extraordinaria formación empresarial que los prepara para ser los grandes empresarios del mañana.
        </p>
        <h3 class=" mision">Visión</h3>
        <hr style="color: #0056b2;" size="1" width="65%" align="left" />

        <p>Ser líderes en la formación de niños empresarios bilingües desde la educación básica, con un modelo educativo condecorado por los principales círculos empresariales de Oaxaca y México, que genera de manera permanente emprendedores en todos
          sus tipos; con la más alta tecnología, con el mejor programa de incubación de negocios para niños, con un programa de movilidad académica asociado a los países e instituciones de mayor crecimiento empresarial y con un poderoso programa de
          desarrollo humano que los prepara en el “arte de vivir en equilibrio”.
        </p>
      </div>
      <h3 class=" mision">Valores</h3>
      <hr style="color: #0056b2;" size="1" width="65%" align="left" />

      <ul style="list-style-image:url(../../../assets/img/icon1.png);">
        <li type="square">Amor por la naturaleza.</li>
        <li type="square">Espíritu constructor.</li>
        <li type="square">Defensa de la familia y sus valores.</li>
        <li type="square">Vocación espiritual por la vida.</li>
      </ul>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/logo.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>



<!--
███████  ██████  ██    ██ ██ ██████   ██████      ██████  ███████     ████████ ██████   █████  ██████   █████       ██  ██████
██      ██    ██ ██    ██ ██ ██   ██ ██    ██     ██   ██ ██             ██    ██   ██ ██   ██ ██   ██ ██   ██      ██ ██    ██
█████   ██    ██ ██    ██ ██ ██████  ██    ██     ██   ██ █████          ██    ██████  ███████ ██████  ███████      ██ ██    ██
██      ██ ▄▄ ██ ██    ██ ██ ██      ██    ██     ██   ██ ██             ██    ██   ██ ██   ██ ██   ██ ██   ██ ██   ██ ██    ██
███████  ██████   ██████  ██ ██       ██████      ██████  ███████        ██    ██   ██ ██   ██ ██████  ██   ██  █████   ██████
            ▀▀
-->


<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Nuestro equipo de trabajo</h5>
    <div class="row">
      <!--
██   ██  █████  ██████  ██
██  ██  ██   ██ ██   ██ ██
█████   ███████ ██████  ██
██  ██  ██   ██ ██   ██ ██
██   ██ ██   ██ ██   ██ ██
-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="../../../assets/img/pe1.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Karina Salinas Sanchez</h4>
                  <p class="card-text">Directora</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
     ██  █████  ███████ ██ ██    ██ ███████
     ██ ██   ██ ██      ██ ██    ██ ██
     ██ ███████ ███████ ██ ██    ██ █████
██   ██ ██   ██      ██ ██  ██  ██  ██
 █████  ██   ██ ███████ ██   ████   ███████
-->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="../../../assets/img/pe2.jpg" alt="card image"></p>
                  <h4 class="card-title">C.P Jassive Maty Cruz Olayo</h4>
                  <p class="card-text">Depto. Servicios Escolares.</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
██   ██ ██  ██████  ██ ███    ██ ██  ██████
██   ██ ██ ██       ██ ████   ██ ██ ██    ██
███████ ██ ██   ███ ██ ██ ██  ██ ██ ██    ██
██   ██ ██ ██    ██ ██ ██  ██ ██ ██ ██    ██
██   ██ ██  ██████  ██ ██   ████ ██  ██████
-->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="../../../assets/img/pe3.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Higinio Salinas Sánchez</h4>
                  <p class="card-text">Administrativo</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
██      ██    ██  ██████ ██  █████
██      ██    ██ ██      ██ ██   ██
██      ██    ██ ██      ██ ███████
██      ██    ██ ██      ██ ██   ██
███████  ██████   ██████ ██ ██   ██
-->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="../../../assets/img/pe4.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Lucia Cruy Reyes</h4>
                  <p class="card-text">Docente</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
███████ ██   ██ ███████ ███    ██ ██    ██
██      ██   ██ ██      ████   ██  ██  ██
███████ ███████ █████   ██ ██  ██   ████
     ██ ██   ██ ██      ██  ██ ██    ██
███████ ██   ██ ███████ ██   ████    ██
-->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                  <h4 class="card-title">L.C.E Shenny Viridiana Pérez Robles</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
██████   ██████  ██   ██  █████  ███    ██  █████
██   ██ ██    ██  ██ ██  ██   ██ ████   ██ ██   ██
██████  ██    ██   ███   ███████ ██ ██  ██ ███████
██   ██ ██    ██  ██ ██  ██   ██ ██  ██ ██ ██   ██
██   ██  ██████  ██   ██ ██   ██ ██   ████ ██   ██
-->

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Roxana Mariela Reyes Villalobos</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!--
███████ ██████  ██ ████████
██      ██   ██ ██    ██
█████   ██   ██ ██    ██
██      ██   ██ ██    ██
███████ ██████  ██    ██
-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="../../../assets/img/pe7.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Edith Vásquez Ramírez</h4>
                  <p class="card-text">Docente</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--
 ██████  ██████  ███    ███ ██████  ██    ██ ████████  █████   ██████ ██  ██████  ███    ██
██      ██    ██ ████  ████ ██   ██ ██    ██    ██    ██   ██ ██      ██ ██    ██ ████   ██
██      ██    ██ ██ ████ ██ ██████  ██    ██    ██    ███████ ██      ██ ██    ██ ██ ██  ██
██      ██    ██ ██  ██  ██ ██      ██    ██    ██    ██   ██ ██      ██ ██    ██ ██  ██ ██
 ██████  ██████  ██      ██ ██       ██████     ██    ██   ██  ██████ ██  ██████  ██   ████
-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Edith Vásquez Ramírez</h4>
                  <p class="card-text">Docente</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
████████  █████  ███████ ██   ██  ██████  ███    ██ ██████   ██████
   ██    ██   ██ ██      ██  ██  ██    ██ ████   ██ ██   ██ ██    ██
   ██    ███████ █████   █████   ██    ██ ██ ██  ██ ██   ██ ██    ██
   ██    ██   ██ ██      ██  ██  ██    ██ ██  ██ ██ ██   ██ ██    ██
   ██    ██   ██ ███████ ██   ██  ██████  ██   ████ ██████   ██████
-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                  <h4 class="card-title">L.C.E Edith Vásquez Ramírez</h4>
                  <p class="card-text">Docente</p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fIN MEMBER-->


    </div>
  </div>
</section>







<app-footer></app-footer>
