<app-navbar></app-navbar>

<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner">
          <div>
              <img src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/pedadiA.jpg?alt=media&token=02dbac65-9e24-42fa-9dc7-e01b5bf7f4e2" class="d-block w-100 responsiveImage" alt="Instituto PEDADI">
          </div>
      </div>
  </div>


<div class="container text-center mt-5">
  <h2 class="bienvenida">NUESTRA FILOSOFÍA</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class=" mision">Misión</h3>
      <hr style="color: #0056b2;" size="1" width="65%" align="left" />
      <div class="text-justify">

        <p>Formamos líderes empresariales desde sus primeros años de vida gracias al SISTEMA-BWP, un modelo educativo único e innovador, a través del cual nuestros niños desarrollan al máximo las competencias de la educación básica oficial de la SEP
          en
          preescolar y primaria; y reciben una extraordinaria formación empresarial que los prepara para ser los grandes empresarios del mañana.
        </p>
        <h3 class=" mision">Visión</h3>
        <hr style="color: #0056b2;" size="1" width="65%" align="left" />

        <p>Ser líderes en la formación de niños empresarios bilingües desde la educación básica, con un modelo educativo condecorado por los principales círculos empresariales de Oaxaca y México, que genera de manera permanente emprendedores en todos
          sus tipos; con la más alta tecnología, con el mejor programa de incubación de negocios para niños, con un programa de movilidad académica asociado a los países e instituciones de mayor crecimiento empresarial y con un poderoso programa de
          desarrollo humano que los prepara en el “arte de vivir en equilibrio”.
        </p>
      </div>
      <h3 class=" mision">Valores</h3>
      <hr style="color: #0056b2;" size="1" width="65%" align="left" />

      <ul style="list-style-image:url(https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/vi%C3%B1etasA.png?alt=media&token=ffe5faa6-eaa4-4773-a7dc-83673ffe85ce);">
        <li type="square">Amor por la naturaleza.</li>
        <li type="square">Espíritu constructor.</li>
        <li type="square">Defensa de la familia y sus valores.</li>
        <li type="square">Vocación espiritual por la vida.</li>
      </ul>
    </div>
    <div class="col-md-3 offset-md-1 mt-5">
      <img src="https://firebasestorage.googleapis.com/v0/b/bdinstitutopedadi.appspot.com/o/logo.jpg?alt=media&token=3ba2ed2f-11a0-4a78-9dca-6179b12af6ae" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>



<!--
███████  ██████  ██    ██ ██ ██████   ██████      ██████  ███████     ████████ ██████   █████  ██████   █████       ██  ██████
██      ██    ██ ██    ██ ██ ██   ██ ██    ██     ██   ██ ██             ██    ██   ██ ██   ██ ██   ██ ██   ██      ██ ██    ██
█████   ██    ██ ██    ██ ██ ██████  ██    ██     ██   ██ █████          ██    ██████  ███████ ██████  ███████      ██ ██    ██
██      ██ ▄▄ ██ ██    ██ ██ ██      ██    ██     ██   ██ ██             ██    ██   ██ ██   ██ ██   ██ ██   ██ ██   ██ ██    ██
███████  ██████   ██████  ██ ██       ██████      ██████  ███████        ██    ██   ██ ██   ██ ██████  ██   ██  █████   ██████
            ▀▀
-->


<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Nuestro equipo de trabajo</h5>
    <div class="row">
      <!--
██   ██  █████  ██████  ██
██  ██  ██   ██ ██   ██ ██
█████   ███████ ██████  ██
██  ██  ██   ██ ██   ██ ██
██   ██ ██   ██ ██   ██ ██
-->
      <div *ngFor="let personal of pedadi" class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" [src]="personal.imagen" alt="card image"></p>
                  <h4 class="card-title"> {{personal.nombre}} </h4>
                  <p class="card-text"> {{personal.puesto}} </p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <p class="card-text"> {{personal.descripcion}} </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- fIN MEMBER-->


    </div>
  </div>
</section>







<app-footer></app-footer>
