.jumbotron{
  width: auto;
  height: 300px;
}
h3.mision{
  color:#36358C;
  font-size: 30px;
  font-weight: 500;
}
h2.bienvenida{
  color:#152F4F;
  font-size: 45px;
  font-weight: 700;
}
img{
  width: 300px;
  margin-right: auto;
}
.img-fluid{
  width: 250px;

}



.card{
  width: 430px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: all 0.25s;
}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.card img{
  width: 250px;
}

h5.card-title{
  font-weight: 1000;
}


p.card-text{
  color: black;
  font-size: 12px;
  font-weight: 500px;
}
