<app-navbar></app-navbar>

<div class="jumbotron" style="background-image: url(../../../assets/img/about.jpg); background-size: 100%;">
</div>

<div class="container text-center mt-5">
  <h2 class="bienvenida">NUESTRA FILOSOFÍA</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class=" mision">Misión</h3>
      <p>Formamos líderes empresariales desde sus primeros años de vida gracias al SISTEMA-BWP, un modelo educativo único e innovador, a través del cual nuestros niños desarrollan al máximo las competencias de la educación básica oficial de la SEP en
        preescolar y primaria; y reciben una extraordinaria formación empresarial que los prepara para ser los grandes empresarios del mañana.
      </p>
      <h3 class=" mision">Visión</h3>
      <p>Ser líderes en la formación de niños empresarios bilingües desde la educación básica, con un modelo educativo condecorado por los principales círculos empresariales de Oaxaca y México, que genera de manera permanente emprendedores en todos sus tipos; con la más alta tecnología, con el mejor programa de incubación de negocios para niños, con un programa de movilidad académica asociado a los países e instituciones de mayor crecimiento empresarial y con un poderoso programa de desarrollo humano que los prepara en el “arte de vivir en equilibrio”.
      </p>
      <h3 class=" mision">Valores</h3>
      <ul>
        <li type="square">Amor por la naturaleza.</li>
        <li type="square">Espíritu constructor.</li>
        <li type="square">Defensa de la familia y sus valores.</li>
        <li type="square">Vocación espiritual por la vida.</li>
      </ul>
    </div>
    <div class="col-4">
      <img src="../../../assets/img/logo.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
<div class="container text-center">
  <h1>Equipo de Trabajo</h1>
</div>



  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img src="../../../assets/img/perfil.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Docente de nivel maternal</h5>
          <p class="card-text text-justify">L.C.E Maria del Carmen Lopez Jimenez</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/sep.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-justify">This card has supporting text below as a natural -in to additional content.</p>

        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ut.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-justify">This is ant than the first to show that equal height action.</p>

        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/kids.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-justify">This is a wider card with supporting text below as a natural -in to additional content. This card has even longer content than the first to show that equal height action.</p>

        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card">
        <img src="../../../assets/img/ods.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bussines Kids</h5>
          <p class="card-text text-justify">Con la alianza estratégica entre el Instituto Pedadi y BusinessKids, nuestros niños y niñas participan en talleres a nivel nacional e internacional.</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/sep.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-justify">This card has supporting text below as a natural -in to additional content.</p>

        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/ut.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-justify">This is ant than the first to show that equal height action.</p>

        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/kids.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text text-justify">This is a wider card with supporting text below as a natural -in to additional content. This card has even longer content than the first to show that equal height action.</p>

        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>
