<div class="mt-0 pt-5 pb-0 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <img style="width:140px; height:160px;" src="../../../assets/img/logo.png" alt="">
        <h2>INSTITUTO PEDADI</h2>
        <p class="pr-5 text-white-90">Emprendedores para vivir en equilibrio</p>
      </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li> <a href="#">Inicio</a></li>
          <li> <a href="#">Nosotoros</a></li>
          <li> <a href="#">Modelo educativo</a></li>
          <li> <a href="#">Galeria</a></li>
          <li> <a href="#">Contactanos</a></li>
          <li> <a href="#">Iniciar sesión</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Ubicación</h4>
      <p class="mb-0">
        <i class="fas fa-globe mr-3"></i>Corpus Cristi 606, Universidad, El Arenal, Agencia de Policia de Cinco Señores, 68126 Oaxaca de Juárez, Oax.
      </p>
      <p class="mb-0">
        <i class="fa fa-phone mr-3"></i>(951) 277 01 13
      </p>
      <p class="mb-0">
        <i class="fas fa-envelope mr-3"></i>instituto_pedadi@outlook.com
      </p>
    </div>
  </div>
  <div class="my-4 justify-content-center text-center">
    <a href="https://www.facebook.com/Pedadi/"><i class="fab fa-facebook fa-3x pr-4"></i></a>
    <a href=""><i class="fab fa-twitter fa-3x pr-4"></i></a>
    <a href="https://www.youtube.com/channel/UCuOcWmAXAZVe3ix2sUjFERA"><i class="fab fa-youtube fa-3x pr-4"></i></a>
    <a href=""><i class="fab fa-instagram fa-3x pr-4"></i></a>
    <a href=""><i class="fab fa-linkedin fa-3x"></i></a>
  </div>





    <div class="row justify-content-center text-center">
      <div class="col copyright">
        <p class=""><small class="text-white-50">2020. Derechos reservados&copy;.</small></p>
      </div>
    </div>
  </div>
</div>
