<app-navbar></app-navbar>

<div class="container">

	<div class="text-center mt-5">
		<h2 class="title">Preescolar</h2>
		<hr style="color: #0056b2;" size="1" width="100%" align="left" />
	</div>
	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga7.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga8.jpg" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga9.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

	</div>


	<div class="text-center mt-5">
		<h2 class="title">Primaria</h2>
		<hr style="color: #0056b2;" size="1" width="100%" align="left" />
	</div>
	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga10.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga11.jpg" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga12.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

	</div>




	<div class="text-center mt-5">
		<h2 class="title">BusinessKids</h2>
		<hr style="color: #0056b2;" size="1" width="100%" align="left" />
	</div>
	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga3.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga2.png" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga1.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

	</div>
	<div class="text-center mt-5">
		<h2 class="title">Talleres</h2>
		<hr style="color: #0056b2;" size="1" width="100%" align="left" />
	</div>
	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ta1.jpg" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ta2.jpg" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ta3.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
	</div>


	<div class="text-center mt-5">

		<h2 class="">Instalaciones</h2>
		<hr style="color: #0056b2;" size="1" width="100%" align="left" />
	</div>
	<div class="gallery">


		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/img4.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ima4.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/img3.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga4.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga5.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="../../../assets/img/ga6.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>

	</div>

</div>







<app-footer></app-footer>
