<app-navbar></app-navbar>

<div class="container text-aling mt-5">
  <br>
  <h2>TE OFRECEMOS CURSOS Y TALLERES</h2>
<section class="portafolio">

  <div class="row center mt-5">
    <div class="portafolio-container">
      <section class="portafolio-item">
        <img src="../../../assets/img/fut.jpg" class="img-fluid" alt="Responsive image" />
        <section class="portafolio-text">
          <h2> anim id est laborum.</h2>
          <p>Lorem ipsum dolor  cillum dolore t cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/img/fut.jpg" class="img-fluid" alt="Responsive image" />
        <section class="portafolio-text">
          <h2> anim id est laborum.</h2>
          <p>Lorem ipsum dolor sit amet,seiatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
      </section>
      <section class="portafolio-item">
        <img src="../../../assets/img/fut.jpg" class="img-fluid" alt="Responsive image" />
        <section class="portafolio-text">
          <h2> anim id est laborum.</h2>
          <p>Lorem ipsum dolor sit atur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>
      </section>

    </div>
  </div>
</section>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
